# GTFS Data Source
# Set to true to use local GTFS files (dev mode)
NEXT_PUBLIC_USE_LOCAL_GTFS=true

# URL to remote GTFS dataset (production)
NEXT_PUBLIC_GTFS_URL=https://example.com/gtfs-stan.zip

# Overpass API URL (can be changed to a different instance)
NEXT_PUBLIC_OVERPASS_API_URL=https://overpass-api.de/api/interpreter
